@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/*
*::-webkit-input-placeholder {

}
*:-moz-placeholder {

}
*::-moz-placeholder {

}
*:-ms-input-placeholder {

}
*/


/* Common styles */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-size: 0.625em;
}

img,
video,
audio {
  max-width: 100%;
}

input {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.bg-1 {
  background-color: #849d8f;
}

.bg-2 {
  background-color: #8996a6;
}

.bg-3 {
  background-color: #9d8b84;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.glacy-btn {
  display: block;
  font: 1.8em/1.3333333333em "Roboto-Bold", Arial, sans-serif;
  /*18/24*/
  text-align: center;
  color: #fff;
  background-color: #ec5f3e;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 1px 2px 0 #ec5f3e;
  cursor: pointer;
  outline: none;
}


/*INDEX-------------------------------------------------*/


/*HEADER*/


/*HEADER-Top*/

.header-top {
  position: relative;
  width: 100%;
}

.header-top__menu {
  float: left;
  width: 385px;
  padding-top: 23px;
  padding-left: 165px;
}

.header-top__menu-link_logo {
  position: absolute;
  top: 9px;
  left: -10px;
  display: block;
}

.header-top__li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-bottom: 5px solid transparent;
}

.header-top__menu-link {
  display: block;
  margin-right: 0px;
  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 6px;
  padding-right: 13px;
  font: 1.6em/1.125em "Roboto-Bold", Arial, sans-serif;
  /*16/18*/
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.header-top__li:last-of-type > .header-top__menu-link {
  margin-right: 0;
}

.header-top__menu-link:hover {
  color: #333333;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.header-top__submenu {
  position: absolute;
  top: 37px;
  left: -9999px;
  width: 143px;
  text-align: left;
  background-color: #f8f7f4;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  transition: opacity linear 0.25s;
  overflow: hidden;
  z-index: 1;
}

.header-top__li:hover .header-top__submenu {
  left: -8px;
  opacity: 1;
}

.header-top__submenu-li {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.header-top__submenu-li:hover {
  background-color: #fbded8;
}

.header-top__submenu-link {
  display: block;
  white-space: nowrap;
  padding-top: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  font: 1.4em/1.1428571429em "Roboto", Arial, sans-serif;
  /*14/16*/
  color: #323232;
  border: none;
}

.header-top__submenu-link_main {
  padding-bottom: 11px;
  font-family: "Roboto-Bold";
  border-bottom: 1px solid #d1d0ce;
}

.header-top__submenu-li:last-of-type .header-top__submenu-link {
  padding-bottom: 14px;
}

.header-top__user-menu {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 260px;
  padding-top: 23px;
  padding-bottom: 5px;
}

.header-top__user-li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 7px solid transparent;
}

.header-top__user-link,
.header-top__user-link_cart {
  position: relative;
  display: block;
  margin-left: 9px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 42px;
  font: 1.4em/1.1428571429em "Roboto-Medium", Arial, sans-serif;
  /*14/16*/
  text-align: left;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.header-top__menu-link_active {
  background-color: #d07058;
  color: #fff;
  border-radius: 15px;
}

.header-top__user-link:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.header-top__user-li:first-of-type > .header-top__user-link {
  margin-left: 0;
}

.header-top__user-link_search {
  position: relative;
  width: 31px;
  height: 31px;
  padding: 0;
  background: rgba(255, 255, 255, 0.2) url('../img/header-top__search.svg') no-repeat center;
  border-radius: 50%;
}

.header-top__user-link_search:hover {
  background: #f8f7f4 url('../img/header-top__search_black.svg') no-repeat center;
}

.header-top__search-form {
  position: absolute;
  top: 38px;
  left: -99999px;
  width: 311px;
  padding-top: 17px;
  padding-left: 15px;
  padding-bottom: 19px;
  padding-right: 15px;
  background-color: #f8f7f4;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: opacity linear 0.25s;
  opacity: 0;
  z-index: 1;
}

.header-top__user-li_search:hover .header-top__search-form {
  left: -310px;
  opacity: 1;
}

.header-top__search-input {
  width: 100%;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  padding-right: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.header-top__search-input::-webkit-input-placeholder,
.header-top__search-input:-moz-placeholder,
.header-top__search-input::-moz-placeholder,
.header-top__search-input:-ms-input-placeholder {
  font: 1.4em/1.7142857143em "Roboto", Arial, sans-serif;
  /*14/24*/
  color: #999999;
}

.header-top__user-link_enter {
  width: 50px;
  background: rgba(255, 255, 255, 0.2) url('../img/header-top__enter.svg') no-repeat 15px center;
}

.header-top__user-link_enter:hover {
  background: #f8f7f4 url('../img/header-top__enter_black.svg') no-repeat 15px center;
}

.header-top__enter-window {
  display: none;
  position: absolute;
  top: 38px;
  left: -173px;
  width: 240px;
  /*276px;*/
  padding-top: 19px;
  padding-left: 18px;
  padding-bottom: 20px;
  padding-right: 18px;
  background-color: #f8f7f4;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: opacity linear 0.25s;
  opacity: 0;
  z-index: 1;
}

.header-top__user-li_enter:hover .header-top__enter-window {
  display: block;
  left: -173px;
  opacity: 1;
}

.header-top__enter-input {
  width: 100%;
  margin-bottom: 17px;
  padding-top: 9px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  font: 1.4em/1.7142857143em "Roboto", Arial, sans-serif;
  /*14/24*/
  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.header-top__enter-input[type="password"] {
  margin-bottom: 20px;
}

.header-top__enter-input::-webkit-input-placeholder,
.header-top__enter-input:-moz-placeholder,
.header-top__enter-input::-moz-placeholder,
.header-top__enter-input:-ms-input-placeholder {
  font: 1.4em/1.7142857143em "Roboto", Arial, sans-serif;
  /*14/24*/
  color: #999999;
}

.enter-window__bottom {
  width: 100%;
}

.header-top__enter-submit {
  float: left;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8em;
  /*18/24*/
  border-radius: 20px;
  cursor: pointer;
}

.enter-window__links-block {
  float: right;
  text-align: left;
}

.header-top__enter-link {
  display: block;
  margin-bottom: -5px;
  font: 1.3em/1.8461538462em "Roboto", Arial, sans-serif;/*13/24*/
  text-decoration: underline;
  text-decoration-color: #adacaa;
  color: #adacaa;
}

.enter-window__span {
  color: #323232;
}

.header-top__user-li_enter {
  position: relative;
}

.header-top__user-link_cart {
  min-width: 75px;
  background: rgba(255, 255, 255, 0.2) url('../img/header-top__cart.svg') no-repeat 15px center;
}

.header-top__user-link_cart-filled {
  color: #323232;
  background: url('../img/header-top__cart_black.svg') no-repeat 15px center, url('../img/header-top__cart_filler.svg') no-repeat 20px 9px;
  background-color: #f8f7f4;
}


/*HEADER-Bottom*/

.header-bottom {
  width: 100%;
  padding-top: 6px;
}

.header-phones {
  float: right;
  width: 267px;
  text-align: right;
}

.header-bottom__span {
  display: block;
  font-family: "Roboto-Bold", Arial, sans-serif;
  color: #fff;
}

.header-bottom__span_top {
  margin-bottom: 4px;
  font-size: 1.4em;
  /*14*/
  line-height: 1.1428571429em;
  /*16*/
}

.header-bottom__span_bottom {
  font-size: 2.2em;
  /*22*/
  line-height: 1.0909090909em;
  /*24*/
}


/*SLIDER*/

.container_slider {
  position: relative;
}

.slider__input {
  display: none;
}

.slider__switches {
  position: absolute;
  bottom: 23px;
  left: 2px;
  min-width: 80px;
  height: 20px;
  z-index: 1;
}

.slider__switch {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider__switch:last-of-type {
  margin-right: 0;
}

#s1-r1:checked ~ .slider__switches > .slider__switch[for='s1-r1'],
#s1-r2:checked ~ .slider__switches > .slider__switch[for='s1-r2'],
#s1-r3:checked ~ .slider__switches > .slider__switch[for='s1-r3'] {
  background-color: #fff;
}

.slider__wrapper {
  width: inherit;
  height: 490px;
}

.slider__slide {
  position: relative;
  display: none;
  width: inherit;
  height: inherit;
  padding-top: 277px;
  text-align: center;
}

#s1-r1:checked ~ .slider__wrapper > .slider__slide_1,
#s1-r2:checked ~ .slider__wrapper > .slider__slide_2,
#s1-r3:checked ~ .slider__wrapper > .slider__slide_3 {
  display: block;
}

.slider__bg-slide {
  margin: 0 auto;
}

.slider__light-bg,
.slider__ice-bg-left,
.slider__ice-bg-right {
  position: absolute;
  content: "";
}

.slider__light-bg {
  top: -160px;
  left: 50px;
  z-index: -3;
}

.slider__ice-bg-left {
  z-index: -1;
}

.slider__ice-bg-right {
  z-index: -2;
}

.slider__light-bg_1 {
  width: 1045px;
  height: 881px;
  background: transparent url('../img/slider__slide1-light.png') no-repeat center;
}

.slider__ice-bg-left_1 {
  top: -33px;
  left: 249px;
  width: 372px;
  height: 584px;
  background: transparent url('../img/slider__slide1-ice_left.png') no-repeat center;
}

.slider__ice-bg-right_1 {
  top: 10px;
  left: 565px;
  width: 333px;
  height: 519px;
  background: transparent url('../img/slider__slide1-ice_right.png') no-repeat center;
}

.slider__light-bg_2 {
  width: 1065px;
  height: 859px;
  background: transparent url('../img/slider__slide2-light.png') no-repeat center;
}

.slider__ice-bg-left_2 {
  top: -32px;
  left: 247px;
  width: 375px;
  height: 582px;
  background: transparent url('../img/slider__slide2-ice_left.png') no-repeat center;
}

.slider__ice-bg-right_2 {
  top: 8px;
  left: 553px;
  width: 338px;
  height: 523px;
  background: transparent url('../img/slider__slide2-ice_right.png') no-repeat center;
}

.slider__light-bg_3 {
  width: 1079px;
  height: 854px;
  background: transparent url('../img/slider__slide3-light.png') no-repeat center;
}

.slider__ice-bg-left_3 {
  top: -34px;
  left: 249px;
  width: 372px;
  height: 584px;
  background: transparent url('../img/slider__slide3-ice_left.png') no-repeat center;
}

.slider__ice-bg-right_3 {
  top: 6px;
  left: 560px;
  width: 333px;
  height: 519px;
  background: transparent url('../img/slider__slide3-ice_right.png') no-repeat center;
}

.slider__title {
  margin-bottom: 31px;
  font: 6em/1.0058333333em "Roboto-Bold", Arial, sans-serif;
  /*60/60.35*/
  text-align: center;
  color: #fff;
}

.glacy-btn_slider {
  width: 278px;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 10px;
  font: 3.2em/1.375em "Roboto-Bold", Arial, sans-serif;
  /*32/44*/
  text-align: center;
  color: #fff;
  border-radius: 30px;
}


/*BANNERS*/

.banners {
  padding-top: 41px;
}

.banners__banner_left {
  float: left;
  background: url(../img/banner_left.png) no-repeat center;
}

.banners__banner_right {
  float: right;
  background: url(../img/banner_right.png) no-repeat center;
}

.banners__banner {
  width: 521px;
  height: 193px;
  padding-top: 16px;
  padding-left: 18px;
  padding-bottom: 20px;
  padding-right: 21px;
  border-radius: 15px;
}

.banners__banner-title {
  margin-bottom: 16px;
  font: 3.5em/1.1714285714em "Roboto-Bold", Arial, sans-serif;
  /*35/41*/
  color: #fff;
}

.banners__banner-description {
  margin-bottom: 43px;
  font: 1.8em/1.2222222222em "Roboto-Bold", Arial, sans-serif;
  /*18/22*/
  color: #fff;
}

.glacy-btn_banner {
  float: right;
  padding-top: 10px;
  padding-left: 21px;
  padding-right: 25px;
  padding-bottom: 12px;
  border-radius: 30px;
}

.glacy-btn_banner-choco {
  padding-left: 19px;
  padding-bottom: 10px;
  padding-right: 23px;
}


/*CATALOG-ITEMS*/

.catalog-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.catalog-items__item {
  position: relative;
  width: 267px;
  height: 360px;
  margin-bottom: 20px;
}

.catalog-items__img {
  margin-bottom: 10px;
}

.catalog-items__item-price {
  position: absolute;
  top: 210px;
  left: 0;
  display: block;
  width: 100%;
  font: 4.5em/1em "Roboto-Bold", Arial, sans-serif;
  /*45(?)/45*/
  color: #fff;
}

.catalog-items__item-price_regular {
  font: 0.6666666667em/1.5em "Roboto", Arial, sans-serif;
  /*30/45*/
  /*check*/
}

.catalog-items__description {
  font: 1.6em/1.375em "Roboto-Medium", Arial, sans-serif;
  /*16/22*/
  text-align: center;
  color: #fff;
}


/*FEATURE_ITEMS*/

.feature-items {
  padding-top: 40px;
}

.container_feature-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.feature-items__item {
  position: relative;
  margin: 0;
}

.feature-tems__hit-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url(../img/feature-items__hit.png) no-repeat center;
}


/*ABOUT-US*/

.about-us {
  padding-bottom: 27px;
  background: url('../img/about-us__bg.png') no-repeat center;
}

.about-us__company-description {
  padding-top: 25px;
  padding-left: 20px;
  font: 2.4em/1.25em "Roboto-Medium", Arial, sans-serif;
  /*24/30*/
  /*check*/
  color: #323232;
}

.about-us__col {
  width: 488px;
  /*573*/
  padding-top: 23px;
  padding-left: 75px;
  padding-right: 5px;
}

.about-us__col_left {
  float: left;
}

.about-us__col_right {
  float: right;
  width: 473px;
  /*573*/
  padding-left: 65px;
  padding-right: 30px;
}

.about-us__technology {
  position: relative;
  margin-bottom: 22px;
}

.about-us__technology:last-of-type {
  margin-bottom: 0;
}

.about-us__icon {
  position: absolute;
  top: -11px;
  left: -53px;
}

.about-us__technology-description {
  font: 1.6em/1.375em "Roboto", Arial, sans-serif;
  /*16/22*/
  color: #323232;
}


/*NEWS*/

.news {
  padding-top: 28px;
}

.news__item {
  height: 188px;
  padding-top: 31px;
}

.news__item_blog {
  float: left;
  background: url('../img/news__item_blog-bg.png') no-repeat center;
}

.news__item_subscription {
  width: 514px;
  height: 177px;
  padding-top: 42px;
  padding-left: 25px;
  float: right;
  background: url('../img/news__item_subscription-bg-top.png') no-repeat center, url('../img/news__item_subscription-bg-bottom.png') no-repeat center;
}

.news__blog-news {
  font: 1.6em/1.375em "Roboto-Medium", Arial, sans-serif;
  /*16/22*/
  color: #323232;
}

.news__blog-entry-title {
  display: block;
  margin-top: 5px;
  font: 2.4em/1.25em "Roboto-Bold", Arial, sans-serif;
  /*24/30*/
  text-decoration: underline;
  color: #323232;
}

.news__subscription-description {
  margin-bottom: 36px;
  font: 1.6em/1.375em "Roboto", Arial, sans-serif;
  /*16/22*/
  color: #5a5a5a;
}

.news__input {
  display: inline-block;
  vertical-align: top;
  
}

.news__input_email {
  width: 369px;
  margin-right: 9px;
  padding-top: 8px;
  padding-left: 15px;
  padding-bottom: 9px;
  font: 1.6em/1.5em "Roboto", Arial, sans-serif;
  /*16/24*/
  color: #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.news__input_email::-webkit-input-placeholder {
  font: 1em/1.5em "Roboto", Arial, sans-serif;
  /*16/24*/
  color: #999999;
}

.news__input_email:-moz-placeholder {
  font: 1em/1.5em "Roboto", Arial, sans-serif;
  /*16/24*/
  color: #999999;
}

.news__input_email::-moz-placeholder {
  font: 1em/1.5em "Roboto", Arial, sans-serif;
  /*16/24*/
  color: #999999;
}

.news__input_email:-ms-input-placeholder {
  font: 1em/1.5em "Roboto", Arial, sans-serif;
  /*16/24*/
  color: #999999;
}

.news__input_submit {
  width: 127px;
  padding-top: 9px;
  padding-bottom: 10px;
  border: none;
  border-radius: 20px;
}


/*CONTACTS*/

.contacts {
  height: 430px;
  padding-top: 30px;
}

.container_contacts {
  position: relative;
  width: 1200px;
}

.contacts__map-link::before {
  position: absolute;
  top: 138px;
  left: 267px;
  width: 78.937px;
  height: 138.75px;
  background: url('../img/contacts__map-label.svg') no-repeat center;
  content: "";
}

.contacts__map-link::after {
  position: absolute;
  top: 170px;
  left: 300px;
  width: 182px;
  height: 110px;
  background: url('../img/contacts__map-label-shadow.png') no-repeat center;
  content: "";
}

.contacts__feedback {
  position: absolute;
  top: 62px;
  right: 27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 255px;
  height: 245px;
  padding-top: 28px;
  padding-left: 25px;
  padding-bottom: 29px;
  padding-right: 22px;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
}

.contacts__span {
  display: block;
  margin-bottom: 3px;
  font: 1.4em/1.4285714286em "Roboto", Arial, sans-serif;
  /*14/20*/
  color: #323232;
}

.contacts__info {
  font: 1.8em/1.3333333333em "Roboto-Bold", Arial, sans-serif;
  /*18/24*/
  color: #323232;
}

.contacts__info_address {
  margin-bottom: 18px;
}

.glacy-btn_feedback {
  width: 250px;
  margin: 0 auto;
  margin-top: auto;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 20px;
}


/*CATALOG-----------------------------------------------*/


/*BREADCRUMBS*/

.breadcrumbs {
  outline: 1px solid red;
}

.breadcrumbs__link {
  font: 1.4em/1.1428571429em "Roboto", Arial, sans-serif;/*14/16*/
  color: #fff;
}

/*FILTER*/

.catatog__section-title {
  font: 3.5em/1.1714285714em "Roboto-Bold", Arial, sans-serif;/*35/41*/
  color: #fff;
}

.filter-top,
.filter-bottom {
  width: 879px; 
}

.filter-top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  outline: 1px solid red;
}

.filter-block {
  outline: 1px solid red;
}

.filter-block-name {
  margin-bottom: 7px;
  padding-left: 17px;
  font: 1.4em/1.1428571429em "Roboto-Medium", Arial, sans-serif;/*14/16*/
  color: #fff;
}

.filter__options {
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.filter__options_select {
  width: 194px;
}

.filter__options_input-range {
  position: relative;
  width: 217px;
  height: 23px;
}

.input-range__scale,
.input-range__bar {
  position: absolute;
  top: 50%;
  left: 7%;
  height: 2px;
  transform: translate(-7%, -50%;)
}

.input-range__scale {
  width: 187px;
  background-color: rgba(255, 255, 255, 0.3);
}

.input-range__bar {
  left: 30%;
  width: 75px;
  background-color: #fff;
  transform: translate(-30%, -50%;)
}

.filter__options_fatness {
  width: 411px;
}

.filter__input,
.filter__label,
.filter__options_select {
  font: 1.6em/1.125em "Roboto-Medium", Arial, sans-serif;/*16/18*/
  color: #fff;
}

.filter-bottom {
    outline: 1px solid red;
}

.filter-block_filler {
  float: left;
}

.filter-block_submit {
  float: right;
}

.filter__input_submit {
  width: 145px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 20px;
  outline: none;
}

/*CATALOG-NAV*/

.catalog-nav {
  width: 100%;
}

.catalog-nav__list {
  float: right;
  display: table;
  width: 40%;
  outline: 1px solid red;
}

.catalog-nav__li {
  display: inline-block;
}


/*FOOTER*/

.footer {
  padding-top: 33px;
}

.container_footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.socials {
  margin-right: 183px;
  padding-top: 3px;
  padding-left: 1px;
}

.socials__social-btn {
  display: inline-block;
  width: 31.375px;
  height: 31.4px;
  margin-right: 9px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.socials__social-btn:last-of-type {
  margin-right: 0px;
}

.footer-menu__list {
  text-align: left;
}

.footer-menu__list_left {
  float: left;
  position: relative;
  margin-right: 30px;
  padding-left: 52px;
}

.footer-menu__list_right {
  float: right;
}

.footer-menu__list_left::before {
  position: absolute;
  top: 3px;
  left: 31px;
  width: 14.562px;
  height: 12.66px;
  background: url('../img/footer-menu__link_distributors-heart.svg') no-repeat center;
  content: "";
}

.footer-menu__link {
  display: inline-block;
  margin-bottom: 3px;
  font: 1.3em/1.3846153846em "Roboto", Arial, sans-serif;
  /*13/18*/
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-menu__link_distributors {
  position: relative;
  font: 1.3em/1.3846153846em "Roboto-Bold", Arial, sans-serif;
  /*13/18*/
  color: #fff;
}

.made-by {
  margin-left: auto;
  position: relative;
  padding-top: 17px;
}

.made-by__logo {
  position: absolute;
  top: -7px;
  left: 1px;
  width: 107.622px;
  height: 36.69px;
}

.made-by__span {
  font: 1.2em/1.5em "Roboto", Arial, sans-serif;
  /*12/18*/
  color: #fff;
  border-bottom: none;
}

.made-by__link {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/*OVERLAY for modal windows*/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal__close-btn {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.modal__close-btn::before,
.modal__close-btn::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: #000;
  content: "";
}

.modal__close-btn::before {
  transform: rotate(45deg);
}

.modal__close-btn::after {
  transform: rotate(-45deg);
}

/*MAP-Modal-Window/Feedback-no-js*/

.map-modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 10px solid #fff;
  border-radius: 15px;
  z-index: 101;
}
.modal__close-btn_map {
  top: -7px;
  right: -10px;
}
.map-no-js {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  margin-top: 30px;
}


/*FEEDBACK-Modal-Window/Feedback-no-js*/

.feedback {
  position: relative;
  width: 428px;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 26px;
  padding-right: 25px;
  background-color: #f8f7f4;
  border-radius: 13px;
}

.feedback-modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.feedback-no-js {
  margin: 0 auto;
  margin-top: 30px;
}

.feedback__title {
  margin-bottom: 20px;
  font: 2.4em/1.1666666667em "Roboto-Medium", Arial, sans-serif;
  /*24/28*/
  color: #323232;
}

.feedback__input {
  display: block;
  width: 266px;
  margin-bottom: 19px;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 8px;
  font: 1.6em/1.5em "Roboto", Arial, sans-serif;
  color: #000;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  box-sizing: border-box;
}

.feedback__input:nth-of-type(2) {
  margin-bottom: 21px;
}

.feedback__input::-webkit-input-placeholder,
.feedback__input:-moz-placeholder,
.feedback__input::-moz-placeholder,
.feedback__input:-ms-input-placeholder {
  font: 1.6em/1.5em "Roboto", Arial, sans-serif;
  /*16/24*/
  color: #999999;
}

.feedback__textarea {
  width: 100%;
  /*423*/
  height: 155px;
  /*150*/
  margin-bottom: 25px;
  padding-top: 8px;
}

.feedback__submit-section {
  width: 100%;
}

.feedback__submit {
  float: right;
  width: 138px;
  padding-top: 10px;
  padding-bottom: 11px;
  border-radius: 22px;
}


/* Media-queries-desktops/tablets */


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* Media-queries-desktops/smartphones */


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}