@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
       url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
       url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}          

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*
*::-webkit-input-placeholder {

}
*:-moz-placeholder {

}
*::-moz-placeholder {

}
*:-ms-input-placeholder {

}
*/

/* Common styles */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-size: 0.625em;
}

img,
video,
audio {
  max-width: 100%;
}

ul {
  list-style: none;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

.container {
  width: ;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/*HEADER*/
.header {
  background: #849d8f;
}

/*HEADER-Top*/
.header-top__menu-link {
  font: 1.6em/1.125em "Roboto-Bold", Arial, sans-serif;/*16/18*/
  color: #fff;
}

.header-top__user-link {
  font: 1.4em/1.1428571429em "Roboto-Medium", Arial, sans-serif;/*14/16*/
  color: #fff;
}

/*HEADER-Bottom*/
.header-bottom__span {
  font-family: "Roboto-Bold", Arial, sans-serif;
  color: #fff;
}

.header-middle__span_top {
  font-size: 1.4em;/*14*/
  line-height: 1.1428571429em;/*16*/
}

.header-middle__span_bottom {
  font-size: 2.2em;/*22*/
  line-height: 1.0909090909em;/*24*/
}


/*SLIDER*/

/*
slide1-bg:#849d8f
slide2-bg:#8996a6
slide3-bg:#9d8b84
*/

/* Media-queries-desktops/tablets */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Media-queries-desktops/smartphones */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}